<article id="article" class="group   shadow-sm border-gray-200 sm:flex bg-white rounded-xl border">

    <div class="p-4 relative flex-1">
        <a (click)="navigate(data()?._id,data()?.views)" class="cursor-pointer">
            <h3 class="text-xl font-medium text-gray-900 dark:text-white">
                {{data()?.title}}
            </h3>
        </a>

        <p class="mt-2  line-clamp-3 text-sm/relaxed text-gray-500 dark:text-gray-400">
            {{data()?.description}}
        </p>
        <div class="absolute bottom-4 pr-10 z-10 w-full flex justify-between  line-clamp-3 items-center gap-4">
            <div class="flex items-center gap-4">
                <p class="text-gray-500 dark:text-gray-400 text-sm font-medium">{{data()?.published | date:'mediumDate'
                    }}</p>
                <p class="text-gray-800  dark:text-gray-400 px-2 py-0.5 rounded-xl text-sm bg-gray-200">
                    {{data()?.readTime}} min read</p>
                <div class="flex text-gray-500 items-center gap-x-1 dark:text-gray-400 ">
                    <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        </svg>
                    </span>
                    <span class="text-sm ">{{data()?.views}}</span>
                </div>
                <div class="flex text-gray-500 items-center gap-x-1 dark:text-gray-400 ">
                    <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                        </svg>
                    </span>
                    <span class="text-sm ">{{data()?.comments ?data()?.comments?.length:0}}</span>
                </div>
            </div>
            <div class="flex items-center gap-4">
                <div  class="flex text-gray-500 items-center gap-x-1 dark:text-gray-400 ">
                    <span (click)="addTosave(data()?._id)"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor"  [ngClass]="isSaved ? 'fill-emerald-600' :'fill-none stroke-current'" stroke="none"  class="size-5 cursor-pointer">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
                        </svg>
                    </span>
                    <span class="text-sm ">1.8K</span>
                </div>
                <div class="flex items-center gap-1 group text-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>


                    <p (click)="navigateToAuthorPage(data()?.authorId)"
                        class="font-medium text-sm cursor-pointer hover:underline ">{{data()?.author}}</p>
                </div>
            </div>
        </div>
    </div>
    <img alt="" [src]="data()?.articlePhoto"
        class="h-44   sm:m-4 w-auto rounded-xl object-cover shadow-xl transition group-hover:grayscale-[50%] dark:shadow-gray-700/25" />

</article>